body{
    background-image: url(img/regras-handebol.jpg);
     background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header{
    background-color: rgb(73, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 40px;
}

header img {
    height: 60px;
    justify-content: flex-end;
    margin-right: 50%;
    
}

 header p{
    display: flex;
    align-items: center;
    gap: 20px;
    
 }

 header p a{
    text-decoration: none;
    color: rgb(212, 190, 190);
    font-weight: 500;
    padding: 8px 15px;
    border-radius:20px;
    background-color: rgba(255, 255, 255, 0.323);
  border-radius: 5px;

 }
 a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: 0.5s;
 }

 .Hand{
    color: rgb(246, 246, 246);
    text-align:justify;

 }
   .escrita{
    color: rgb(246, 246, 246);
        text-align:justify;

  }
 

  .img_fundo{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
