body{
    background-image: url(img/regras-handebol.jpg);
     background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
 .Hand{
    color: rgb(246, 246, 246);
    text-align:justify;
 }
 .img_hand{
    height: 300px;
    display: flex;;
    justify-content:flex-start;
 }

 .img_hand img{
    border-radius: 20px;
 }

.escrita{
    color: rgb(246, 246, 246);
        text-align:justify;
  }

  .img_fundo{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

 